:root {
    --lighter: #F8F0E5;
    --light: #EADBC8;
    --secondary: #DAC0A3;
    --primary: #102C57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(min-width: 1024px){
body {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 100vh;
    }

    body div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    body form {
        padding: 50px;
        background: var(--light);
        height: 100vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    body form h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    body form p {
        margin: 10px 0;
        font-size: 20px;
    }

    body form .input-field {
        border-radius: 10px;
        background: var(--secondary);
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    body form .input-field input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    body form .input-field .fas {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    body form button {
        display: block;
        padding: 15px;
        width: 100%;
        border: none;
        color: var(--lighter);
        background: var(--primary);
        border-radius: 10px;
        font-size: 20px;
    }
}

@media(max-width: 1023px){
    body {
            height: 100vh;
            /* align-items: center; */
        }
    
        body div img {
            display: none;
        }
    
    
        body form {
            height: 100vh;
            padding: 20px;
            background: var(--light);
            height: 100%;
        }
    
        body form h2 {
            font-size: 35px;
            margin-bottom: 20px;
        }
    
        body form p {
            margin: 10px 0;
            font-size: 20px;
        }
    
        body form .input-field {
            border-radius: 10px;
            background: var(--secondary);
            display: flex;
            align-items: center;
            margin: 10px 0;
        }
    
        body form .input-field input {
            border: none;
            background: none;
            outline: none;
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }
    
        body form .input-field .fas {
            width: 40px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    
        body form button {
            display: block;
            padding: 15px;
            width: 100%;
            border: none;
            color: var(--lighter);
            background: var(--primary);
            border-radius: 10px;
            font-size: 20px;
        }
}